body {background-color:#a5d3ed;}

#header { 
                 border:1px solid white;
                height:120px;
                background-color:#32a9ed;
				color:white;
				}
h1 {font-size:50px;
      font-family:Segoe Print;
	  margin:30px 400px;}	
h2 {text-align:center;
     font-size:30px;
      font-family:Berlin Sans FB Demi;}
	  
#sign_up {border:1px solid white;
               width:490px; height:600px;
			   float:right;
			   padding:10px;
			   border-radius:3px;
			 
                 }	  
#form1 {position:absolute;
              left:800px;top:60px;}	
#p1 {position:absolute;
              left:880px;top:17px;
			  color:black;
			  font-size:18px;}			  
#form2 {font-size:15px;
              }	  
label.feild { text-align:right;
width:300px;
float:left;}

#submit {width:100px;
               height:30px;}
td,tr {  padding:10px;}

#img_id {margin:120px 100px;}